# Requirements for CrimeTime.
# To use type: pip install -r requirements.txt

## Requirements without Version specifiers
pandas
geopandas
geopy
shapely
flask
matplotlib
numpy
beautifulsoup
pytest
sphinx
tornado
